@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  font-family: Sour Gummy;
}

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

input {
  max-width: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {

  button {
    font-size: 1.1rem;
    border: none;
    background-color: #e0baa4;
    margin: 5px 2px 5px 2px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: #e47878;
    transition: background-color .2s ease-out;
  }

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    min-width: 20px;
    font-size: .8rem;
    align-self: center;
    text-align: center;
  }

  button {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #a4e0a4;
    margin: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: #54bd7c;
    transition: background-color .2s ease-out;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    background-color: #7f9fe6;

    h4 {
      width: 110px;
      margin: 5px 0px 5px 0px;
      padding: 0px;
    }

    .actual,
    .difference {
      width: 90px;
    }

    .notes {
      width: 231px;
    }
  }

}

.income-row {
  display: flex;

  button {
    font-size: .9rem;
    border: none;
    border-radius: 0px;
    background-color: #fdbdbd;
    margin: 0px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: #e47878;
    transition: background-color .2s ease-out;
  }

}

.income_component {
  
  form {
    display: flex;
    // gap: -1px;
    background-color: #c1d7dd;

    .warning {
      position: absolute;
      background-color: #ff4444;
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: -15px;
      // left: -10px;
    }

    input,
    select,
    span {
      font-size: .9rem;
      min-width: 80px;
      border: none;
      border-radius: 5px;
      color: #252525;
      background-color: transparent;
      padding: 2px 5px 2px 5px;
      transition: background-color .2s ease;
    }

    select:focus,
    input:focus {
      background-color: #7f9fe6;
      border-radius: 5px;
      outline:none;
      transition: background-color .2s ease;
    }

    select {
      option {
        background-color: #c1d7dd;
        transition: background-color .2s ease;
      }

      option:hover {
        background-color: #7f9fe6;
        transition: background-color .2s ease;
      }
    }

    .notes {
      min-width: 200px;
    }

    button {
      display: none;
    }

  }

}