@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  font-family: Sour Gummy;
  color: var(--color-black);

  --color-white: #deeaf3;
  --color-black: #110601;

  --color-orange: #eca859;
  --color-darkorange: #d17a16;
  --color-yellow: #e6dd66;
  --color-darkyellow: #e4c53d;
  --color-blue: #7f9fe6;
  --color-darkblue: #1e59d8; 
  --color-green: #85d685;
  --color-darkgreen: #0fa334;
  --color-red: #e74b4b;
  --color-darkred: #b30f0f;

  --color-palegreen1: #a0dda3;
  --color-palegreen2: #c0ebda;
  --color-palered1: #e7a4ad;
  --color-palered2: #e7c6c7;
  --color-paleyellow1: #ebdb8e;
  --color-paleyellow2: #ebdeb3;
  --color-paleblue1: #a0bddd;
  --color-paleblue2: #c0d4eb;
  --color-paleorange1: #ebbb8e;
  --color-paleorange2: #ebcab3;

  border: none;
  :focus {
    outline: none;
  }
}

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-white);
}

h3 {
  font-family: "Chango";
  font-weight: 300;
  font-size: 1.5rem;
  margin: 10px;
}

main {
  background-color: var(--color-paleblue2);
  border-radius: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year-title {
  font-size: 3rem;
}

.finance-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-paleblue2);
  border: 2px solid var(--color-paleblue2);
  border-radius: 10px;
  padding: 0rem 2rem 1rem 2rem;
  margin: 10px;
  width: 350px;

  button {
    font-size: 1.1rem;
    background-color: var(--color-blue);
    margin: 5px 2px 5px 2px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: var(--color-darkblue);
    transition: background-color .2s ease-out;
  }

  span {
    display: flex;
    align-items: center;
  }

  input[type='date'] {
    background-color: var(--color-white);
    height: 35px;
    min-width: 120px;
    font-size: 1.2rem;
    text-align: center;
  }

  .monthtitle-container {
    display: flex;
    gap: 10px;

    h2{
      width: 120px;
      text-align: center;
    }
  }
}

.recurringForm-container {
  font-size: 1rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-paleorange1);
    border-radius: 10px;
    padding: 10px;

    

    section {
      display: flex;
      flex-wrap: wrap;

      .category,
      .name,
      .type {
        width: 100px
      }
      .frequency {
        width: 120px;
      }
      .start-date,
      .end-date {
        width: 130px;
        text-align: center;
      }
      .expected {
        text-align: right;
        width: 100px
      }

    }

    span {
      display: flex;
      flex-direction: column;
      padding: 2px;
      font-size: 1.1rem;
      font-weight: bold;
      background-color: transparent;

      select,
      input {
        font-size: 1rem;
        padding: 5px;
        height: 1.5rem;
        background-color: var(--color-white);
        text-align: left;
      }
      select {
        height: 34px;
      }
      select:focus,
      input:focus {
        background-color: #7f9fe6;
        border-radius: 5px;
        transition: background-color .2s ease;
      }
    }

    .button-container {
      flex-basis: 1;
      width: 100%;
      align-items: center;
      margin: 15px 0px 10px 0px;

      button {
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-green);
        padding: 5px;
        margin: 5px;
        transition: background-color .2s ease;
        width: 150px;
      }
      button:hover {
        background-color: var(--color-darkgreen);
        transition: background-color .2s ease;
      }
      button:active {
        background-color: var(--color-red);
        transition: backgroud-color .2s ease;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    min-width: 20px;
    align-self: center;
    text-align: center;
  }

  button {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-green);
    margin: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: var(--color-darkgreen);
    transition: background-color .2s ease-out;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: var(--color-blue);

    h4 {
      margin: 5px 0px 5px 0px;
      padding: 0px 5px 0px 5px;
    }

    .name,
    .type {
      width: 110px;
    }
    .frequency {
      width: 110px;
    }
    .date {
      width: 120px;
      text-align: center;
    }
    .expected,
    .actual,
    .difference {
      min-width: 100px;
    }
    .notes {
      min-width: 220px;
    }
  }
}

.income-component {
  margin: 1rem 0rem 1rem 0rem;
  .table-header {
    background-color: var(--color-darkgreen);
  }
}
.expense-component {
 margin: 1rem 0rem 1rem 0rem;
 .table-header {
    background-color: var(--color-red);
  }
}
.transaction-component {
  margin: 1rem 0rem 1rem 0rem;
  .table-header {
    background-color: var(--color-darkyellow);
  }
}

section {
  text-align: center;
}

.transaction-row,
.expense-row,
.income-row {
  display: flex;

  button {
    font-size: 1rem;
    border: none;
    border-radius: 0px;
    background-color: var(--color-darkred);
    color: var(--color-white);
    margin: 0px;
    transition: background-color .2s ease-out;
    width: 20px;
  }

  button:hover {
    background-color: var(--color-red);
    transition: background-color .2s ease-out;
  }
}

section {
  .income-row  {
    background-color: var(--color-palegreen1);
  }
  .income-row:nth-child(2n) {
    background-color: var(--color-palegreen2);
  }

  .expense-row  {
    background-color: var(--color-palered1);
  }
  .expense-row:nth-child(2n) {
    background-color: var(--color-palered2);
  }

  .transaction-row {
    background-color: var(--color-paleyellow1);
  }
  .transaction-row:nth-child(2n) {
    background-color: var(--color-paleyellow2);
  }
}



.expense_component,
.income_component {
  form {
    display: flex;

    .warning {
      position: absolute;
      background-color: #ff4444;
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: -15px;
    }

    input,
    select,
    span {
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      color: var(--color-black);
      background-color: transparent;
      padding: 2px 5px 2px 5px;
      transition: background-color .2s ease;
    }

    select:focus,
    input:focus {
      background-color: var(--color-darkgreen); 
      border-radius: 5px;
      outline:none;
      transition: background-color .2s ease;
    }

    .name,
    .type {
      width: 110px;
    }
    .frequency {
      width: 120px;
    }
    .date {
      width: 120px;
      text-align: center;
    }
    .expected,
    .actual,
    .difference {
      text-align: right;
      width: 100px;
    }
    .notes {
      width: 200px;
    }

    select {
      option {
        background-color: var(--color-palegreen2);
        transition: background-color .2s ease;
      }

      option:hover {
        background-color: var(--color-green);
        transition: background-color .2s ease;
      }
    }

    button {
      position: absolute;
      background-color: var(--color-green);
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: 955px;
      align-self: center;
    }
  }
}

.expense-component {
  form {
    select {
      option {
        background-color: var(--color-palered2);
      }
      option:hover {
        background-color: var(--color-red);
      }
    }
  }
}

.transaction-component {
  .table-header {
    .name,
    .type,
    .frequency,
    .amount {
      width: 120px;
    }
    .notes {
      width: 270px;
    }
    .date {
      width: 120px;
      text-align: center;
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .warning {
      position: absolute;
      background-color: var(--color-red);
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: -15px;
    }

    input,
    select,
    span {
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      color: var(--color-black);
      background-color: transparent;
      padding: 2px 5px 2px 5px;
      transition: background-color .2s ease;
    }

    select {
      option {
        background-color: var(--color-paleyellow2);
        transition: background-color .2s ease;
      }

      option:hover {
        background-color: var(--color-darkyellow);
        transition: background-color .2s ease;
      }
    }

    select:focus,
    input:focus {
      background-color: var(--color-darkyellow);
      border-radius: 5px;
      outline:none;
      transition: background-color .2s ease;
    }

    .name,
    .frequency,
    .amount {
      width: 120px;
    }
    .type {
      width: 130px
    }
    .notes {
      width: 250px;
    }
    .amount {
      text-align: right;
    }
    .date {
      width: 120px;
      text-align: center;
    }

    button {
      position: absolute;
      background-color: var(--color-green);
      color: var(--color-white);
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: 915px;
      align-self: center;
      width: 20px;
    }

  }
}

.expense-component {
  form {
    select:focus,
    input:focus {
      background-color: #e74b4b;
    }
  }
}