@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  font-family: Sour Gummy;
  color: var(--color-black);

  --color-white: #deeaf3;
  --color-black: #110601;

  --color-orange: #eca859;
  --color-darkorange: #d17a16;
  --color-blue: #7f9fe6;
  --color-darkblue: #1e59d8; 
  --color-green: #85d685;
  --color-darkgreen: #0fa334;
  --color-red: #e74b4b;
  --color-darkred: #b30f0f;

  --button-neutralbase: #000000;
  --button-neutralhover: #000000;
  --button-neutralactive: #000000;
  --button-positivebase: #000000;
  --button-positivehover: #000000;
  --button-positiveactive: #000000;
  --button-negativebase: #000000;
  --button-negativehover: #000000;
  --button-negtaiveactive: #000000;

}

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-white);
}

input {
  max-width: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 0px;
  padding: 0px;

  h1 {
    margin: 0px;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    font-size: 1.1rem;
    border: none;
    background-color: var(--color-orange);
    margin: 5px 2px 5px 2px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: #e74b4b;
    transition: background-color .2s ease-out;
  }

  span {
    display: flex;
    align-items: center;
  }

  input[type='date'] {
    background-color: #f3f0e5;
    height: 30px;
    min-width: 120px;
    font-size: 1rem;
  }

  .monthtitle-container {
    display: flex;
    gap: 10px;

    h2{
      width: 120px;
      text-align: center;
    }
  }
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    min-width: 20px;
    align-self: center;
    text-align: center;
  }

  button {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-green);
    margin: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: var(--color-darkgreen);
    transition: background-color .2s ease-out;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.1rem;
    background-color: var(--color-blue);

    h4 {
      width: 120px;
      margin: 5px 0px 5px 0px;
      padding: 0px;
    }
    .actual,
    .difference {
      width: 120px;
    }
    .notes {
      width: 231px;
    }
  }
}

.income-component {
  margin: 1rem 0rem 1rem 0rem;
  .table-header {
    background-color: var(--color-blue);
  }
}
.expense-component {
 margin: 1rem 0rem 1rem 0rem;
 .table-header {
    background-color: var(--color-red);
  }
}
.transaction-component {
  margin: 1rem 0rem 1rem 0rem;
  .table-header {
    background-color: var(--color-darkgreen);
  }
}

section {
  text-align: center;
}

.transaction-row,
.expense-row,
.income-row {
  display: flex;

  button {
    font-size: 1rem;
    border: none;
    border-radius: 0px;
    background-color: var(--color-darkred);
    color: var(--color-white);
    margin: 0px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: var(--color-red);
    transition: background-color .2s ease-out;
  }
}

section {
  .income-row  {
    background-color: #a0c2dd;
  }
  .income-row:nth-child(2n) {
    background-color: #c1d7dd;
  }

  .expense-row  {
    background-color: #e7a4ad;
  }
  .expense-row:nth-child(2n) {
    background-color: #e7c6c7;
  }

  .transaction-row {
    background-color: #a0dda3;
  }
  .transaction-row:nth-child(2n) {
    background-color: #c0ebda;
  }
}

.expense_component,
.income_component {
  form {
    display: flex;

    .warning {
      position: absolute;
      background-color: #ff4444;
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: -15px;
    }

    input,
    select,
    span {
      font-size: 1rem;
      min-width: 110px;
      border: none;
      border-radius: 5px;
      color: #252525;
      background-color: transparent;
      padding: 2px 5px 2px 5px;
      transition: background-color .2s ease;
    }

    select:focus,
    input:focus {
      background-color: #7f9fe6;
      border-radius: 5px;
      outline:none;
      transition: background-color .2s ease;
    }

    .actual,
    .difference,
    .expected {
      text-align: right;
    }

    select {
      option {
        background-color: #c1d7dd;
        transition: background-color .2s ease;
      }

      option:hover {
        background-color: #7f9fe6;
        transition: background-color .2s ease;
      }
    }

    .notes {
      min-width: 200px;
    }

    button {
      position: absolute;
      background-color: #7ece6f;
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: 1075px;
      align-self: center;
    }
  }
}

.transaction_component {
  form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .warning {
      position: absolute;
      background-color: var(--color-red);
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: -15px;
    }

    input,
    select,
    span {
      font-size: 1rem;
      min-width: 140px;
      border: none;
      border-radius: 5px;
      color: var(--color-black);
      background-color: transparent;
      padding: 2px 5px 2px 5px;
      transition: background-color .2s ease;
    }

    select {
      option {
        background-color: #c1d7dd;
        transition: background-color .2s ease;
      }

      option:hover {
        background-color: #7f9fe6;
        transition: background-color .2s ease;
      }
    }

    select:focus,
    input:focus {
      background-color: #7f9fe6;
      border-radius: 5px;
      outline:none;
      transition: background-color .2s ease;
    }

    .amount {
      text-align: right;
    }

    .notes {
      min-width: 250px;
    }

    button {
      position: absolute;
      background-color: var(--color-green);
      color: var(--color-white);
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: 915px;
      align-self: center;
    }

  }
}