@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  font-family: Sour Gummy;
  color: var(--color-black);

  --color-white: #deeaf3;
  --color-black: #110601;

  --color-orange: #eca859;
  --color-darkorange: #d17a16;
  --color-yellow: #e6dd66;
  --color-darkyellow: #e4c53d;
  --color-blue: #7f9fe6;
  --color-darkblue: #1e59d8; 
  --color-green: #85d685;
  --color-darkgreen: #0fa334;
  --color-red: #e74b4b;
  --color-darkred: #b30f0f;

  --color-palegreen1: #a0dda3;
  --color-palegreen2: #c0ebda;
  --color-palered1: #e7a4ad;
  --color-palered2: #e7c6c7;
  --color-paleyellow1: #ebdb8e;
  --color-paleyellow2: #ebdeb3;
  --color-paleblue1: #a0bddd;
  --color-paleblue2: #c0d4eb;
  --color-paleorange1: #ebbb8e;
  --color-paleorange2: #ebcab3;

  border: none;
  :focus {
    outline: none;
  }
}

@font-face {
  font-family: HIMO;
  src: url('fonts/HIMORounded-Regular.ttf');
  font-weight: bold;
}

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
}

h3 {
  font-family: HIMO;
  font-weight: 300;
  font-size: 2.8rem;
  margin: 10px;
}

main {
  background-color: var(--color-paleblue2);
  border-radius: 0px;
  height: 100%;
  min-height: 100vh;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  max-width: 600px;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(to bottom, var(--color-darkblue), var(--color-paleblue1) );
  border: 2px solid var(--color-orange);
  border-radius: 10px;
  animation: appear 1s forwards;

  .title-container {
    max-width: 500px;

    h1 {
      font-family: HIMO;
      font-size: 5rem;
      color: var(--color-white);
      margin: 20px 0px;
      // text-decoration: underline;
    }
    h1:hover {
      // animation: change-color 10s infinite;
    }
    span {
      color: var(--color-darkblue);
    }
    .blurb {
      border: 2px solid var(--color-darkyellow);
      border-radius: 10px;
      background: var(--color-paleyellow2);
      margin: 0rem 1rem 3rem 1rem;

      p {
        margin: 0rem;
        padding: 10px;
        font-size: .9rem;
      }
      p:nth-child(2) {
        font-size: .8rem;
      }
    }
  }

  .button-container {
    display: flex;
    width: 140px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;

    a {
      width: 140px;
      height: 50px;
      padding: 0;
      margin: 0;
      position: absolute;
      background-color: var(--color-orange);
      border: 2px solid var(--color-darkorange);

      svg {
        width: 140px;
        height: 50px;
        justify-self: start;
        align-self: center;

        .circle-1 {
          fill: var(--color-red);
          cx: 0;
          cy: 200;
          r: 70;
        }
        .circle-2 {
          fill: var(--color-red);
          cx: 110;
          cy: 200;
          r: 80;
        }
        .circle-3 {
          fill: var(--color-yellow);
          cx: 40;
          cy: 200;
          r: 60;
        }
        .circle-4 {
          fill: var(--color-yellow);
          cx: 120;
          cy: 200;
          r: 80;
        }
      }
      svg:hover {
        .circle-1 {
          animation: circle-1 1s .1s forwards;
        }
        .circle-2 {
          animation: circle-2 1s .2s forwards;
        }
        .circle-3 {
          animation: circle-3 1s .15s forwards;
        }
        .circle-4 {
          animation: circle-4 1s .25s forwards;
        }
      }
    }

    span {
      z-index: 1;
      font-size: 1.2rem;
      font-weight: bold;
      pointer-events: none;
    }
  }
}

@keyframes change-color {
  0% { color: var(--color-darkorange) }
  25% { color: var(--color-darkgreen) }
  50% { color: var(--color-darkblue) }
  75% { color: var(--color-darkred) }
  100% { color: var(--color-darkorange) }
}

@keyframes appear {
  from { width: 50%; transform: translateY(100px); }
  to { width: 100%; transform: translateY(0px); }
}

@keyframes slide-up {
  0% { cy: 100 }
  100% { cy: 80 }
}

@keyframes circle-1 {
  0% { cy: 100 }
  40% { cy: 80 }
  60% { cy: 90 }
  75% { cy: 85 }
  100% { cy: 83 }
}

@keyframes circle-2 {
  0% { cy: 200 }
  40% { cy: 70 }
  60% { cy: 80 }
  75% { cy: 75 }
  100% { cy: 73 }
}

@keyframes circle-3 {
  0% { cy: 200 }
  40% { cy: 90 }
  60% { cy: 100 }
  75% { cy: 95 }
  100% { cy: 93 }
}

@keyframes circle-4 {
  0% { cy: 200 }
  40% { cy: 90 }
  60% { cy: 100 }
  75% { cy: 95 }
  100% { cy: 93 }
}

// Summary
.summary {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 100%;
  justify-self: center;
  background-color: var(--color-paleorange2);
  border: 4px solid var(--color-orange);
  border-radius: 10px;
  position: sticky;
  top: 25vh;
  
  h2 {
    margin: 0;
    padding: 5px;
    background-color: var(--color-paleorange1);
    border-radius: 5px 5px 0px 0px;
  }

  .titles {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0px 0px 10px 0px;
    background-color: transparent;

    h3 {
      background-color: var(--color-paleorange1);
      margin: 0;
      padding: 4px;
      // border-radius: 5px 5px 0px 0px;
    }
    i {
      // background-color: var(--color-pale);
    }
    p {
      // background-color: var(--color-blue);
      margin: 0;
    }
  }

  .summary-items {
    display: flex;
    gap: 10px;
    overflow: hidden;
    height: 323px;
    transition: height .4s ease;

    .summary-container {
      display: flex;
      flex-direction: column;
      // background-color: var(--color-orange);
      // border-radius: 10px;

      .summary-title-income,
      .summary-title-expense,
      .summary-title-total {
        display: flex;

        h3 {
          font-family: "Sour Gummy";
          font-size: 1rem;
          font-weight: 800;
          margin: 5px;
          width: 120px;
          align-self: center;
        }
      }

      .summary-title-income {
        background-color: var(--color-darkgreen);
        border-radius: 10px 10px 0px 0px;
      }

      .summary-title-expense {
        background-color: var(--color-red);
      }

      .summary-title-total {
        background-color: var(--color-yellow);
      }

      .summary-table {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-paleblue2);

        .table {
          width: 100%;

          h4,
          p {
            margin: 0;
            padding: 5px 10px 5px 10px;
            border-bottom: 1px solid var(--color-blue);
          }
          h4 {
            text-align: left;
          }
        }

        .table:nth-child(2n) {
          background-color: var(--color-paleblue1);
        }
      }

      .summary-totals {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-paleblue1);
        border-radius: 0 0 10px 10px;
        width: 100%;

        .table {
          width: 100%;

          h4,
          p {
            margin: 5px 10px 5px 10px;
          }
          h4 {
            text-align: left;
          }
        }
      }
    }
  }

  .summary-items.hidden {
    height: 0;
    transition: height .4s forwards;
  }
}

@keyframes shrink {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

@keyframes grow {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.targets-component {
  background-color: var(--color-paleblue1);
  border-radius: 10px;
  padding: 10px;
  height: 92%;

  h3 {
    font-size: 2rem;
  }

  .titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h4 {
      margin: 5px;
      font-size: 1.1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .input-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-around;

      .input {
        display: flex;
        flex-direction: column;

        input {
          width: 80px;
          text-align: center;
        }
      }
    }
  }
}

// Finances
.finances {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 30px;
  background: linear-gradient(to bottom in hsl, var(--color-paleblue1), var(--color-palered2));
  border: 2px solid var(--color-blue);
  border-radius: 10px;
}

.year-title {
  font-family: HIMO;
  font-size: 5rem;
  margin: 0;
}

.finance-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-paleblue2);
  border: 2px solid var(--color-paleblue2);
  border-radius: 10px;
  padding: 0rem 2rem 1rem 2rem;
  margin: 10px;
  width: 350px;

  button {
    font-size: 1.1rem;
    background-color: var(--color-blue);
    margin: 5px 2px 5px 2px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: var(--color-darkblue);
    transition: background-color .2s ease-out;
  }

  span {
    display: flex;
    align-items: center;
  }

  input[type='date'] {
    background-color: var(--color-white);
    height: 35px;
    min-width: 120px;
    font-size: 1.2rem;
    text-align: center;
  }

  .monthtitle-container {
    display: flex;
    gap: 10px;

    h2{
      width: 120px;
      text-align: center;
    }
  }
}

.recurringForm-container {
  font-size: 1rem;

  .warning-container {
    position: absolute;
    justify-self: center;

    p {
      color: var(--color-red);
    }
  }

  .form-button {
    background-color: transparent;
  }

  .recurringForm {
    justify-content: center;
    height: 120px;
    transition: height .4s ease;
    overflow: hidden;
  }

  .recurringForm.hidden {
    height: 0;
    transition: height .4s ease;
    // overflow: hidden;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-paleblue1);
    border-radius: 10px;
    padding: 40px 0px 0px 0px;

    section {
      display: flex;
      flex-wrap: wrap;

      .category,
      .name,
      .type {
        width: 100px
      }
      .frequency {
        width: 120px;
      }
      .start-date,
      .end-date {
        width: 130px;
        text-align: center;
      }
      .expected {
        text-align: right;
        width: 100px
      }

    }

    span {
      display: flex;
      flex-direction: column;
      padding: 2px;
      font-size: 1.1rem;
      font-weight: bold;
      background-color: transparent;

      select,
      input {
        font-size: 1rem;
        padding: 5px;
        height: 1.5rem;
        background-color: var(--color-white);
        text-align: left;
      }
      select {
        height: 34px;
      }
      select:focus,
      input:focus {
        background-color: #7f9fe6;
        border-radius: 5px;
        transition: background-color .2s ease;
      }
    }

    .button-container {
      flex-basis: 1;
      width: 100%;
      align-items: center;
      margin: 15px 0px 10px 0px;

      button {
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-green);
        padding: 5px;
        margin: 5px;
        transition: background-color .2s ease;
        width: 150px;
      }
      button:hover {
        background-color: var(--color-darkgreen);
        transition: background-color .2s ease;
      }
      button:active {
        background-color: var(--color-red);
        transition: backgroud-color .2s ease;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    min-width: 20px;
    align-self: center;
    text-align: center;
  }

  button {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-green);
    margin: 5px;
    transition: background-color .2s ease-out;
  }

  button:hover {
    background-color: var(--color-darkgreen);
    transition: background-color .2s ease-out;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: var(--color-blue);

    h4 {
      margin: 5px 0px 5px 0px;
      padding: 0px 5px 0px 5px;
    }

    .name,
    .type {
      width: 110px;
    }
    .frequency {
      width: 110px;
    }
    .date {
      width: 120px;
      text-align: center;
    }
    .expected,
    .actual,
    .difference {
      min-width: 100px;
    }
    .notes {
      min-width: 220px;
    }
  }

  .information-container {
    display: flex;
    gap: 10px;
  }
}

.income-component {
  .title {
    padding: 5px;
    background-color: var(--color-darkgreen);
    h3 {
      margin: 0;
    }
  }
  margin: 1rem 0rem 1rem 0rem;
  .table-header {
    background-color: var(--color-darkgreen);
  }
}
.expense-component {
  .title {
    padding: 5px;
    background-color: var(--color-red);
    h3 {
      margin: 0;
    }
  }
  margin: 1rem 0rem 1rem 0rem;
  .table-header {
    background-color: var(--color-red);
  }
}
.transaction-component {
  .title {
    padding: 5px;
    background-color: var(--color-darkyellow);
    h3 {
      margin: 0;
    }
  }
  margin: 1rem 0rem 1rem 0rem;
  .table-header {
    background-color: var(--color-darkyellow);
  }
}

section {
  text-align: center;
}

.transaction-row,
.expense-row,
.income-row {
  display: flex;
  height: 27px;
  overflow: hidden;
  transition: height .4s ease;

  button {
    font-size: 1rem;
    border: none;
    border-radius: 0px;
    background-color: var(--color-darkred);
    color: var(--color-white);
    margin: 0px;
    transition: background-color .2s ease-out;
    width: 20px;
  }

  button:hover {
    background-color: var(--color-red);
    transition: background-color .2s ease-out;
  }
}

@keyframes expand {
  from { height: 0px; }
  to { height: 25px; }
}

.transaction-row.hidden,
.expense-row.hidden,
.income-row.hidden {
  height: 0px !important;
  transition: height .4s ease;
}
.transaction-row:hover {
  outline: 2px solid var(--color-darkyellow);
}
.expense-row:hover {
  outline: 2px solid var(--color-darkred);
}
.income-row:hover {
  outline: 2px solid var(--color-darkgreen);
}

section {
  .income-row  {
    background-color: var(--color-palegreen1);
  }
  .income-row:nth-child(2n) {
    background-color: var(--color-palegreen2);
  }

  .expense-row  {
    background-color: var(--color-palered1);
  }
  .expense-row:nth-child(2n) {
    background-color: var(--color-palered2);
  }

  .transaction-row {
    background-color: var(--color-paleyellow1);
  }
  .transaction-row:nth-child(2n) {
    background-color: var(--color-paleyellow2);
  }
}



.expense_component,
.income_component {
  form {
    display: flex;

    .warning {
      position: absolute;
      background-color: #ff4444;
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: -15px;
      align-self: center;
    }

    input,
    select,
    span {
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      color: var(--color-black);
      background-color: transparent;
      padding: 2px 5px 2px 5px;
      transition: background-color .2s ease;
    }

    select:focus,
    input:focus {
      background-color: var(--color-darkgreen); 
      border-radius: 5px;
      outline:none;
      transition: background-color .2s ease;
    }

    .name,
    .type {
      width: 110px;
    }
    .frequency {
      width: 120px;
    }
    .date {
      width: 120px;
      text-align: center;
    }
    .expected,
    .actual,
    .difference {
      text-align: right;
      width: 100px;
    }
    .notes {
      width: 200px;
    }

    select {
      option {
        background-color: var(--color-palegreen2);
        transition: background-color .2s ease;
      }

      option:hover {
        background-color: var(--color-green);
        transition: background-color .2s ease;
      }
    }

    button {
      position: absolute;
      background-color: var(--color-darkgreen);
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: 1055px;
      align-self: center;
    }
  }
}

.expense-component {
  form {
    select {
      option {
        background-color: var(--color-palered2);
      }
      option:hover {
        background-color: var(--color-red);
      }
    }
  }
}

.transaction-component {
  justify-self: center;

  .title {
    background-color: var(--color-darkyellow);
  }

  .table-header {
    width: fit-content;
    .name,
    .type,
    .frequency,
    .amount {
      width: 120px;
    }
    .notes {
      width: 270px;
    }
    .date {
      width: 120px;
      text-align: center;
    }
  }

  .transaction-row {
    width: fit-content;
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .warning {
      position: absolute;
      background-color: var(--color-red);
      color: white;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: -15px;
      align-self: center;
    }

    input,
    select,
    span {
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      color: var(--color-black);
      background-color: transparent;
      padding: 2px 5px 2px 5px;
      transition: background-color .2s ease;
    }

    select {
      option {
        background-color: var(--color-paleyellow2);
        transition: background-color .2s ease;
      }

      option:hover {
        background-color: var(--color-darkyellow);
        transition: background-color .2s ease;
      }
    }

    select:focus,
    input:focus {
      background-color: var(--color-darkyellow);
      border-radius: 5px;
      outline:none;
      transition: background-color .2s ease;
    }

    .name,
    .frequency,
    .amount {
      width: 120px;
    }
    .type {
      width: 130px
    }
    .notes {
      width: 250px;
    }
    .amount {
      text-align: right;
    }
    .date {
      width: 120px;
      text-align: center;
    }

    button {
      position: absolute;
      background-color: var(--color-darkgreen);
      color: var(--color-white);
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      margin-left: 803px;
      align-self: center;
      width: 20px;
    }

  }
}

.expense-component {
  form {
    select:focus,
    input:focus {
      background-color: #e74b4b;
    }
  }
}
